{% extends "base.html" %}
{% load static %}

{% block title %}A Different Kind Of Human - Step 2 Album By Aroura | Spotify{% endblock title %}

{% block styles %}<link rel="stylesheet" href="{% static "album.css" %}">{% endblock styles %}

{% block contents %}

<section class="all">

    <div class="album-image" id="album-image">
        <div class="album-img" id="album-img">
            <img src="https://i.scdn.co/image/ab67616d00001e02ddc43da988dc80fac12c53ac" alt="">
        </div>

        <div class="album-name">
            <p>Album</p>
            <h1>A Different Kind Of Human - Step 2</h1>
            <p><strong>AURORA</strong> . 2019 . 11 Songs, 40mins 8sec</p>
        </div>

    </div>

    <div class="album-details">
        
    
        <div class="play-plus">
            <a href="" class="play-all"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
            <a href="" class="plus"> plus</a>
            <p>more</p>
        </div>
    
        <div class="song-table">
            
            <table>
                <tr>
                    <th>#</th>
                    <th class="title">Title</th>
                    <th>Duration</th>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td class="title">
                        <div class="song-detail">
                            <div>
                                <h4>Pidgin & English</h4>
                                <p>artist name</p>
                            </div>
                        </div>
                    </td>
                    <td>3:38</td>
                </tr>
    
                <tr>
                    <td>2</td>
                    <td class="title">
                        <div class="song-detail">
                            <div>
                                <h4>Pidgin & English</h4>
                                <p>artist name</p>
                            </div>
                        </div>
                    </td>
                    <td>3:38</td>
                </tr>
    
                <tr>
                    <td>3</td>
                    <td class="title">
                        <div class="song-detail">
                            <div>
                                <h4>Pidgin & English</h4>
                                <p>artist name</p>
                            </div>
                        </div>
                    </td>
                    <td>3:38</td>
                </tr>
    
                <tr>
                    <td>4</td>
                    <td class="title">
                        <div class="song-detail">
                            <div>
                                <h4>Pidgin & English</h4>
                                <p>artist name</p>
                            </div>
                        </div>
                    </td>
                    <td>3:38</td>
                </tr>
    
                <tr>
                    <td>5</td>
                    <td class="title">
                        <div class="song-detail">
                            <div>
                                <h4>Pidgin & English</h4>
                                <p>artist name</p>
                            </div>
                        </div>
                    </td>
                    <td>3:38</td>
                </tr>
    
                <tr>
                    <td>6</td>
                    <td class="title">
                        <div class="song-detail">
                            <div>
                                <h4>Pidgin & English</h4>
                                <p>artist name</p>
                            </div>
                        </div>
                    </td>
                    <td>3:38</td>
                </tr>
    
            </table>

        </div>

    <div class="extra">
        <!-- this div is used to remove the extra space left 
         from the use of  position rlative and top -22rem in the div album -->
    </div>

</section>

{% endblock contents %}

{% block javascripts %}
<script src="{% static "album.js" %}"></script>
{% endblock javascripts %}