{% extends "base.html" %}
{% load static %}

{% block title %}{{album_details.name}} Album By {{album_details.artist}} | Spotify{% endblock title %}

{% block styles %}<link rel="stylesheet" href="{% static "webapp/css/album.css" %}">{% endblock styles %}

{% block contents %}

<section class="all">

    <div class="album-image" id="album-image">
        <div class="album-img" id="album-img">
            <img src="{{album_details.album_cover}}" alt="{{album_details.name}}" crossorigin="anonymous">
        </div>

        <div class="album-name">
            <p>Album</p>
            <h1>{{album_details.name}}</h1>
            <p><a href="{% url "artist_profile" album_details.artist_id %}"><strong>{{album_details.artist}}</strong></a> . {{album_details.release_date}} . {{album_details.total_tracks}} Songs, 40mins 8sec</p>
        </div>

    </div>

    <div class="album-details">
        
    
        <div class="play-plus">
            <a href="" class="play-all"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
            <a href="" class="plus"> plus</a>
            <p>more</p>
        </div>
    
        <div class="song-table">
            
            <table>
                <tr>
                    <th>#</th>
                    <th class="title">Title</th>
                    <th>Duration</th>
                </tr>
                {% for track in album_details.track_list  %}
                <tr>
                    <td>{{track.track_number}}</td>
                    <td class="title">
                        <div class="song-detail">
                            <div>
                                <h4>{{track.track_name}}</h4>
                                <p>{{track.track_artist}}</p>
                            </div>
                        </div>
                    </td>
                    <td>{{track.track_duration}}</td>
                </tr>
                {% endfor %}
                
    
            </table>

        </div>


</section>

{% endblock contents %}

{% block javascripts %}
<script src="{% static "webapp/js/album.js" %}"></script>
{% endblock javascripts %}