{% extends "base.html" %}
{% load static %}

{% block title %}AURORA | Spotify{% endblock title %}

{% block styles %}<link rel="stylesheet" href="{% static "webapp/css/artist_profile.css" %}">{% endblock styles %}

{% block contents %}

<section class="all">

    <div class="profile-image">
        <img src="https://i.scdn.co/image/ab67618600001016a01c6b13771a29015718c06b" alt="">
    </div>

    <div class="profile">
        <div class="artist-name">
            <p>Verified Artist</p>
            <h1>AURORA</h1>
            <p class="most-lisen">13,876,702 monthly listeners</p>
        </div>
    
        <div class="play-following">
            <a href="" class="play-all"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
            <a href="" class="following"> Following</a>
            <p>more</p>
        </div>
    
        <div class="popular">
    
            <h2>Popular</h2>
    
            <div class="popular-container">
    
                <div class="popular-card">
                    
                    <div class="sn">
                        <p>1</p>
                    </div>
    
                    <div class="music-name">
                        <img src="https://geo-media.beatsource.com/image_size/500x500/5/9/7/5974a942-7721-44db-982d-88b641bb4c94.jpg" alt="spotify logo" >
                        <p>Runaway</p>
                    </div>
    
                    <div class="times-played">
                        <p>991721872</p>
                    </div>
    
                    <div class="duration">
                        <p>4:08</p>
                    </div>
    
                </div>
    
                <div class="popular-card">
                    
                    <div class="sn">
                        <p>2</p>
                    </div>
    
                    <div class="music-name">
                        <img src="https://geo-media.beatsource.com/image_size/500x500/5/9/7/5974a942-7721-44db-982d-88b641bb4c94.jpg" alt="spotify logo" >
                        <p>Runaway</p>
                    </div>
    
                    <div class="times-played">
                        <p>991721872</p>
                    </div>
    
                    <div class="duration">
                        <p>4:08</p>
                    </div>
    
                </div>
    
                <div class="popular-card">
                    
                    <div class="sn">
                        <p>3</p>
                    </div>
    
                    <div class="music-name">
                        <img src="https://geo-media.beatsource.com/image_size/500x500/5/9/7/5974a942-7721-44db-982d-88b641bb4c94.jpg" alt="spotify logo" >
                        <p>Runaway</p>
                    </div>
    
                    <div class="times-played">
                        <p>991721872</p>
                    </div>
    
                    <div class="duration">
                        <p>4:08</p>
                    </div>
    
                </div>
    
                <div class="popular-card">
                    
                    <div class="sn">
                        <p>4</p>
                    </div>
    
                    <div class="music-name">
                        <img src="https://geo-media.beatsource.com/image_size/500x500/5/9/7/5974a942-7721-44db-982d-88b641bb4c94.jpg" alt="spotify logo" >
                        <p>Runaway</p>
                    </div>
    
                    <div class="times-played">
                        <p>991721872</p>
                    </div>
    
                    <div class="duration">
                        <p>4:08</p>
                    </div>
    
                </div>
    
                <div class="popular-card">
                    
                    <div class="sn">
                        <p>5</p>
                    </div>
    
                    <div class="music-name">
                        <img src="https://geo-media.beatsource.com/image_size/500x500/5/9/7/5974a942-7721-44db-982d-88b641bb4c94.jpg" alt="spotify logo" >
                        <p>Runaway</p>
                    </div>
    
                    <div class="times-played">
                        <p>991721872</p>
                    </div>
    
                    <div class="duration">
                        <p>4:08</p>
                    </div>
    
                </div>
    
            </div>
        </div>
    
    
        <div class="discograpy">
            <h2>Discograpy</h2>
    
            <div class="discograpy-container">
    
                <div class="album-card">
                    <div class="image">
    
                        <img src="https://i.scdn.co/image/ab67616100005174057fdb13352beee124b79051" alt="spotify logo" >
    
                    </div>
    
                    <div class="album-name">
                        <p>Infections Of A Different kind - Step 1</p>
                    </div>
    
                    <div class="year">
                        <p>2018.single</p>
                    </div>
    
                </div>
    
                <div class="album-card">
                    <div class="image">
    
                        <img src="https://i.scdn.co/image/ab67616100005174057fdb13352beee124b79051" alt="spotify logo" >
    
                    </div>
    
                    <div class="album-name">
                        <p>Infections Of A Different kind - Step 1</p>
                    </div>
    
                    <div class="year">
                        <p>2018.single</p>
                    </div>
    
                </div>
    
                <div class="album-card">
                    <div class="image">
    
                        <img src="https://i.scdn.co/image/ab67616100005174057fdb13352beee124b79051" alt="spotify logo" >
    
                    </div>
    
                    <div class="album-name">
                        <p>Infections Of A Different kind - Step 1</p>
                    </div>
    
                    <div class="year">
                        <p>2018.single</p>
                    </div>
    
                </div>
    
                <div class="album-card">
                    <div class="image">
    
                        <img src="https://i.scdn.co/image/ab67616100005174057fdb13352beee124b79051" alt="spotify logo" >
    
                    </div>
    
                    <div class="album-name">
                        <p>Infections Of A Different kind - Step 1</p>
                    </div>
    
                    <div class="year">
                        <p>2018.single</p>
                    </div>
    
                </div>
    
                <div class="album-card">
                    <div class="image">
    
                        <img src="https://i.scdn.co/image/ab67616100005174057fdb13352beee124b79051" alt="spotify logo" >
    
                    </div>
    
                    <div class="album-name">
                        <p>Infections Of A Different kind - Step 1</p>
                    </div>
    
                    <div class="year">
                        <p>2018.single</p>
                    </div>
    
                </div>
    
            </div>
        </div>
        
        <div class="about">
            <h2>About</h2>

            <div class="about-container">
                <img src="https://geo-media.beatsource.com/image_size/500x500/5/9/7/5974a942-7721-44db-982d-88b641bb4c94.jpg" alt="spotify logo" >
                <div class="artist-detail">
        
                    <h5>13,876,702 Monthly Listeners</h5>
        
                    <p>“Though its precise function and anatomy were not clearly understood, 
                        the heart was believed to be the centre of the soul. Of intuition. 
                        Of emotion and intention. Until we decided these were qualifications of the mind. 
                        Emotion overpowered by logic. And with the world being so corrupted by money, power and 
                        selfishness you cannot help but ask yourself - What Happened To The Heart?” 🫀 07.06.24
                    </p>
        
                </div>
            </div>

        </div>
    </div>

    <div class="extra">
        <!-- this div is used to remove the extra space left 
         from the use of  position rlative and top -22rem in the div profile -->
    </div>

</section>

{% endblock contents %}