{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% load humanize %}

{% block title %}{{artist_details.name}} | Spotify{% endblock title %}

{% block styles %}<link rel="stylesheet" href="{% static "webapp/css/artist_profile.css" %}">{% endblock styles %}

{% block contents %}

<section class="all">

    <div class="profile-image">
        <img src="{{artist_details.header_image_url}}" alt="">
    </div>

    <div class="profile">
        <div class="{% if artist_details.header_image_url == None %}profile-no-gallery-image{% endif %}">
            {% if artist_details.header_image_url == None %}
                    {% if artist_details.avatar_image_url == None %}
                        {% include "webapp/includes/no-artist.html" %}
                    {% else %}
                        <div class="avatar-image-url">
                            <img src="{{artist_details.avatar_image_url}}" alt="{{artist_details.name}}">
                        </div>
                    {% endif %}
            {% endif %}

            <div class="artist-name">
                <p>Verified Artist</p>
                <h1>{{artist_details.name}}</h1>
                <p class="most-lisen">{{artist_details.monthly_listeners|intcomma }} monthly listeners</p>
            </div>
        </div>
    
        <div class="play-following">
            <a href="" class="play-all"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
            
                <form action="{% url "addremove" %}" method="post" id='artistfollowingform'>
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{artist_details.id}}">
                    <input type="hidden" name="artist" value="{{artist_details.name}}">
                    <input type="hidden" name="image_url" value="{{artist_details.avatar_image_url}}">
                    {% if followed  %}
                    <button type="submit" class="following">Following</button>
                    {% else %}
                    <button type="submit" class="following" >Follow</button>
                    {% endif %}
                </form>
                 
            
            
            <p>more</p>
        </div>
    
        <div class="popular">
    
            <h2>Popular</h2>
    
            <div class="popular-container">
                {% for tracks in artist_details.tracks %}
                <a href="{% url "song" tracks.track_id %}" class="the-music">
                    <div class="popular-card">
                    
                        <div class="sn">
                            <p>{{forloop.counter}}</p>
                        </div>
        
                        <div class="music-name">
                            <img src="{{tracks.track_image_url}}" alt="{{tracks.track_name}}" >
                            <p>{{tracks.track_name}}</p>
                        </div>
        
                        <div class="times-played">
                            <p>{{tracks.track_play_count|intcomma }}</p>
                        </div>
        
                        <div class="duration">
                            <p>{{tracks.track_duration|miliseconds_to_minutes}}</p>
                        </div>
                    
    
                    </div>
                </a>
                {% endfor %}
    
            </div>
        </div>
    
    
        <div class="discograpy">
            <h2>Discograpy</h2>
    
            <div class="discograpy-container">

                {% for album in artist_details.albums %}
                <a href="{% url "album" album.album_id %}">
                    <div class="album-card">
                        <div class="image">
        
                            <img src="{{album.album_cover}}" alt="{{album.album_name}}" >
        
                        </div>
        
                        <div class="album-name">
                            <a href="{% url "album" album.album_id %}">{{album.album_name}}</a>
                        </div>
        
                        <div class="year">
                            <p>{{album.release_year}}.Album</p>
                        </div>
        
                    </div>
                </a>
                {% endfor %}
    
    
            </div>
        </div>
        
        <div class="about">
            <h2>About</h2>

            <div class="about-container {% if artist_details.gallery_image_url == None %}no-gallery-image{% endif %}">
                {% if artist_details.gallery_image_url == None %}
                    {% if artist_details.avatar_image_url == None %}
                        {% include "webapp/includes/no-artist.html" %}
                    {% else %}
                        <div class="avatar-image-url">
                            <img src="{{artist_details.avatar_image_url}}" alt="{{artist_details.name}}">
                        </div>
                    {% endif %}
                
                {% else %}
                <img src="{{artist_details.gallery_image_url}}" alt="{{artist_details.name}}" >
                {% endif %}
                <div class="artist-detail">
        
                    <h5>13,876,702 Monthly Listeners</h5>
        
                    {{artist_details.biography|linebreaks}}
        
                </div>
            </div>

        </div>
    </div>

    <div class="extra">
        <!-- this div is used to remove the extra space left 
         from the use of  position rlative and top -22rem in the div profile -->
    </div>

</section>

{% endblock contents %}

{% block javascripts %}
<script src="{% static "webapp/js/artist_profile.js" %}"></script>
{% endblock javascripts %}