{% extends "base.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static "webapp/css/homepage.css" %}">{% endblock styles %}

{% block contents %}
<div class="popular-artist">

    <h1>Popular artists</h1>

    <div class="artist-content">
        {% for artist in pop_artists %}
        <div class="artist-card">
            <a href="{% url "artist_profile" artist.artist_id %}">
                <img src="{{artist.artist_image_url}}" alt="{{artist.artist_name}}" >
                
                <div class="card">
                    <div class="first">
                        <a href="{% url "artist_profile" artist.artist_id %}">{{artist.artist_name}}</a>
                    </div>

                    <div class="second">
                        <p>artist</p>
                    </div>
                </div>
        </div>
        {% endfor %}
        

    </div>
    
</div>

<div class="popular-albums">

    <h1>
        Popular albums and singles
    </h1>

    <div class="popular-album-content">
        {% for album in pop_albums %}
        <div class="album-card">
            <a href="">
                <img src="{{album.album_image_url}}" alt="{{album.album_name}}" >
                
                <div class="card">
                    <div class="first">
                        <a href="{% url "album" album.album_id %}">{{album.album_name}}</a>
                    </div>

                    <div class="second">
                        <a href="{% url "artist_profile" album.album_artist_id %}"><p>{{album.album_artist}}</p></a>
                    </div>
                </div>
        </div>
        {% endfor %}

        

    </div>

    <div class="featured-charts">

        <h1>Featured Charts</h1>

        <div class="featured-charts-content">

            <div class="featured-card">

                <a href="">
                    <img src="https://charts-images.scdn.co/assets/locale_en/regional/weekly/region_global_default.jpg" alt="spotify logo" >
                    
                    <div class="card">
                        <div class="second">
                            <a href=""><p>Your weekly update of the most played... </p></a>
                            <!-- tracks right now - Global -->
                        </div>
                    </div>
                </a>

            </div>

            <div class="featured-card">

                <a href="">
                    <img src="https://charts-images.scdn.co/assets/locale_en/regional/weekly/region_ng_default.jpg" alt="spotify logo" >
                    
                    <div class="card">
                        <div class="second">
                            <a href=""><p>Your weekly update of the most played... </p></a>
                            <!-- tracks right now - Global -->
                        </div>
                    </div>
                </a>

            </div>

            <div class="featured-card">

                <a href="">
                    <img src="https://charts-images.scdn.co/assets/locale_en/regional/daily/region_global_default.jpg" alt="spotify logo" >
                    
                    <div class="card">
                        <div class="second">
                            <a href=""><p>Your weekly update of the most played... </p></a>
                            <!-- tracks right now - Global -->
                        </div>
                    </div>
                </a>

            </div>

            <div class="featured-card">

                <a href="">
                    <img src="https://charts-images.scdn.co/assets/locale_en/regional/daily/region_ng_default.jpg" alt="spotify logo" >
                    
                    <div class="card">
                        <div class="second">
                            <a href=""><p>Your weekly update of the most played... </p></a>
                            <!-- tracks right now - Global -->
                        </div>
                    </div>
                </a>

            </div>

            <div class="featured-card">

                <a href="">
                    <img src="https://charts-images.scdn.co/assets/locale_en/viral/daily/region_global_default.jpg" alt="spotify logo" >
                    
                    <div class="card">
                        <div class="second">
                            <a href=""><p>Your weekly update of the most played... </p></a>
                            <!-- tracks right now - Global -->
                        </div>
                    </div>
                </a>

            </div>
            

        </div>

    </div>
</div>

{% endblock contents %}