{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "webapp/css/login.css" %}">
    <title>Login - spotify</title>
</head>
<body>
    <div class="container">
        <img src="{% static "Spotify_Primary_Logo_RGB_White.png" %}" alt="spotify logo" >

        {% if form.errors %}
        <div style="margin: 1rem auto; background-color: #cc3636; text-align: center; width: 40%; padding: 1rem;">
            {% for field in form %}
                {% for error in field.errors %}
                <div>
                    {{error}}
                </div>
                {% endfor %}
            {% endfor %}

            {% for errors in form.non_field_errors %}
                {{errors}}
            {% endfor %}
        </div>
        {% endif %}

        

        <h1>Log in to Spotify</h1>

        <div class="line"></div>
        <br>

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-control">
                {{form.username.label_tag}}
                {{form.username}}
            </div>

            <div class="form-control">
                {{form.password.label_tag}}
                {{form.password}}
            </div>

            <button type="submit">Log In</button>
            
        </form>

        <p>Forgot your password?</p>

        <p>Don't have an account? <a href="{% url "sign_up" %}">Sign up for Spotify</a> </p> 

    </div>
</body>
</html>