{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Spotify - Search{% endblock title %}

{% block styles %}<link rel="stylesheet" href="{% static "webapp/css/search.css" %}">{% endblock styles %}

{% block contents %}

<div class="type">
    <button type="button" id="btn-all">All</button>
    <button type="button" id="btn-artist-alone">Artist</button>
    <button type="button" id="btn-songs-alone">Songs</button>
    <button type="button" id="btn-album-alone">Album</button>
</div>

<section class="all" id="all">
    <div class="first">
        <div class="top-result">

            <h1>Top results</h1>
            
            <div class="result-card">
                
                <a {% if  top_result.type == "Album" %} href="{% url "album" top_result.id %}" 
                    {% elif top_result.type == "Artist" %} href="{% url "artist_profile" top_result.id %}"
                    {% endif %}
                    >
                    <div class="image">
                        <img src="{{top_result.image_url}}" alt="{{top_result.name}}" {% if top_result.type == "Album" %}class="albumtype"{% endif %}>
                    </div>

                    <div class="title">
                        <h3>{{top_result.name}}</h3>
                    </div>

                    <div class="type-of-result">
                        <p>{{top_result.type}}.<a href="{% url "artist_profile" top_result.id %}">{{top_result.artist}}</a></p>
                    </div>
                </a>

            </div>

        </div>

        <div class="songs">

            <h1>Songs</h1>

            <div class="container">
                {% for tracks in top_tracks  %}
                <div class="song-container">

                    <a href="{% url "song" tracks.id %}">
                        <div class="song-detail">
                            <img src="{{tracks.album_cover}}" alt="{{tracks.name}}" >
                            <div>
                                <p>{{tracks.name}}</p>
                                <p>{{tracks.artist}}</p>
                            </div>
                        </div>
        
                        <div class="duration">
                            <p>{{tracks.duration|miliseconds_to_minutes}}</p>
                        </div>
                    </a>
    
                </div>
                {% endfor %}
    
                
            </div>

        </div>

    </div>

    <div class="artist-result">

        <h2>Artist</h2>

        <div class="artist-content">

            {% for artist in top_artists  %}
            <div class="artist-card">
                <a href="{% url "artist_profile" artist.id %}">
                    <img src="{{artist.image_url}}" alt="{{artist.name}}" >
                    
                    <div class="card">
                        <div class="first">
                            <a href="{% url "artist_profile" artist.id %}">{{artist.name}}</a>
                        </div>
    
                        <div class="second">
                            <p>Artist</p>
                        </div>
                    </div>
            </div>
            {% endfor %}
        
    
        </div>

    </div>

    <div class="album-result">

        <h2>Albums</h2>

        <div class="album-container">

            {% for album in top_albums %}
            <div class="album-card">
                <a href="{% url "album" album.id %}">
                    <img src="{{album.cover}}" alt="{{album.name}}" >
                    
                    <div class="card">
                        <div class="first">
                            <a href="{% url "album" album.id %}">{{album.name}}</a>
                        </div>
    
                        <div class="second">
                            <p>{{album.release_date}}.<a href="{% url "artist_profile" album.id %}">{{album.artist}}</a></p>
                        </div>
                    </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="artist" id="artist-alone">

    <div class="artist-content">

        {% for artist in artists  %}
        <div class="artist-card">
            <a href=""{% url "artist_profile" artist.id %}"">
                <img src="{{artist.image_url}}" alt="{{artist.name}}" >
                
                <div class="card">
                    <div class="first">
                        <a href="">{{artist.name}}</a>
                    </div>

                    <div class="second">
                        <p>Artist</p>
                    </div>
                </div>
        </div>
        {% endfor %}
    
        

    </div>
    
</section>

<section class="songs-alone" id="songs-alone">

    <div class="table">

        <table>
            <tr>
                <th>#</th>
                <th class="title">Title</th>
                <th>Album</th>
                <th>Duration</th>
            </tr>
            
            {% for track in tracks  %}
            <tr>
                
                    <td>{{forloop.counter}}</td>
                    <td>
                        <a href="{% url "song" track.id %}">
                            <div class="song-detail">
                            <img src="{{track.album_cover}}" alt="{{track.name}}" >
                                <div>
                                    <p>{{track.name}}</p>
                                    <p>{{track.artist}}</p>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td>{{track.album}}</td>
                    <td>{{track.duration|miliseconds_to_minutes}}</td>
                
            </tr>
            {% endfor %}

            
        </table>

    </div>

</section>

<section class="album-alone" id="album-alone">

    <div class="album-container">

            
        {% for album in albums %}
        <div class="album-card">
            <a href="{% url "album" album.id %}">
                <img src="{{album.cover}}" alt="{{album.name}}" >
                
                <div class="card">
                    <div class="first">
                        <a href="{% url "album" album.id %}">{{album.name}}</a>
                    </div>

                    <div class="second">
                        <p>{{album.release_date}}.<a href="{% url "artist_profile" album.id %}">{{album.artist}}</a></p>
                    </div>
                </div>
        </div>
        {% endfor %}
        

    </div>

</section>



{% endblock contents %}

{% block javascripts %}
<script src="{% static "webapp/js/search.js" %}"></script>
{% endblock javascripts %}