* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 0  .5rem;
}

a{
    color: white;
    text-decoration: none;
}


/* header styles */
header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
}

header .logo img{
    width: 2rem;
    height: 2rem;
}

header .menu{
    display: none;
    margin-left: 1rem;
    margin-right: -1rem;
}

header .menu i{
    font-size: 1.5rem;
}


header .home-and-search{
    display: flex;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

header .home-and-search .home,
header .home-and-search .search input{
    padding: .5rem .7rem;
    background-color: #282828;
    border-radius: 24px;
}

header .home-and-search .home{
    margin-right: .5rem;
}

header .home-and-search .search{
    display: flex;
    align-items: center;
}

header .home-and-search .search form {
    width: 29rem; 
  }

header .home-and-search .search input{
    width: 100%;
    height: 2.5rem;
    border: none;
}

header .home-and-search .search input:focus{
    outline: none;
    color: white;
}

header .home-and-search .search h4{
    z-index: 1;
    border-left: 1px solid #4d4d4d;
    position: relative;
    left: -4rem;
    padding-left: 1rem;
    
}

header .logged-in{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

header .logged-in a{
    padding: .5rem 1rem;
}

header .logged-in .explore{
    background-color: white;
    color: black;
    border-radius: 16px;
}

header .logged-in .user{
    background-color: rgb(177, 248, 202, 0.4);
    padding: .3rem ;
    border-radius: 1rem;
    cursor: pointer;
}

header .logged-in .user p{
    padding: .4rem 0.6rem;
    border-radius: 0.8rem;
    background-color: #54c47a;
    color: black;
}


header .logged-in .user .dropdown{
    position: absolute;
    z-index: 1;
    background-color: #282828;
    padding: 0.2rem;
    width: 15%;
    text-align: left;
    border-radius: 4px;
    margin-top: 1rem;
    right: 1rem;
    list-style: none;
    display: none;
    
}

header .logged-in .user .dropdown li{
    padding: 0.5rem 1rem;
}


header .logged-in .user .dropdown li:hover{
    background-color: #404040;
}

header .logged-in .user:hover .dropdown{
    display: block;
}

header .login-signup{
    text-align: right;
    /* position: absolute;
    right: 2rem; */
}

header .login-signup .signup{
    color: #4d4d4d;
    padding: 1rem 2rem;
    border-radius: 24px;
}

header .login-signup .login{
    padding: 1rem 2rem;
    border-radius: 24px;
    background-color: white;
    color: black;
}

/* side bar and main content styles */

.sidebar-main{
    display: flex;
    height: 28rem;
}

.sidebar-main .sidebar{
    background-color: #141414;
    border-radius: 8px;
    padding: 1rem;
    width: 32%;
}

.sidebar-main .sidebar .library-icon{
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar-main .sidebar .library-icon h4{
    margin-left: 1rem;
}

.sidebar-main .sidebar .library-icon .cancel{
    position: absolute;
    right: 0;
    display: none;
    cursor: pointer;
}

.sidebar-main .sidebar .tag{
    padding: .5rem 1rem;
    background-color: #4d4d4d;
    border-radius: 16px;
    width: fit-content;
    margin: 1rem 0;

}

.sidebar-main .sidebar .space{
    display: flex;
    justify-content: space-between;
}

.sidebar-main .sidebar .space div{
    display: flex;
    align-items: center;
}

.sidebar-main .sidebar .space div img{
    margin-left: .5rem;
}

.sidebar-main .sidebar .second-scroll{
    display: flex;
    position: relative;
}



.sidebar-main .sidebar .artists{
    margin: 0rem 0;
    overflow-y: scroll;
    height: 19rem;
    padding-right: 17px; /* Prevent content jump when scrollbar is hidden */
    box-sizing: border-box;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    width: calc(100% + 17px); /* Compensate for scrollbar width */
}

.sidebar-main .sidebar .artists::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.sidebar-main .sidebar .artists .artist-card{
    padding: 1rem;
}

.sidebar-main .sidebar .artists .artist-card:hover{
    background-color: #7c7c7c33;
}

.sidebar-main .sidebar .artists .artist-card:active{
    background-color: #42424233;
}

.sidebar-main .sidebar .artists .artist-card .artist-name p{
    font-size: .9rem;
    color: #afafaf;
}

.sidebar-main .sidebar .artists .artist-card a {
    display: flex;
}

.sidebar-main .sidebar .artists .artist-card img{
    border-radius: 2rem;
    width: 3rem;
    margin-right: 1rem;
}

.custom-scrollbar2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    border-radius: 4px;
}
  
.scroll-thumb2{
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    background: #888;
    cursor: grab;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.sidebar-main .sidebar .second-scroll:hover .scroll-thumb2{
    opacity: 1;
    transition: opacity 1s ease-in
}


.sidebar-main .sidebar .no-artist{
    margin: 3rem auto;
    padding: 1rem 0.5rem;
    background-color: white;
    color: black;
    border-radius: 24px;
    text-align: center;
    width: 50%;
}

.sidebar-main .sidebar .not-loggedin-sidebar{
    margin-top: 3rem;
    height: 10rem;
    overflow-y: scroll;
}

.sidebar-main .sidebar .not-loggedin-sidebar div{
    padding: 1rem;
    width: 95%;
    background-color: #282828;
    border-radius: 12px;
    margin: 1rem 0;
    font-size: 0.9rem;
}

.sidebar-main .sidebar .not-loggedin-sidebar div p{
    padding: 1rem 0;
}

.sidebar-main .sidebar .not-loggedin-sidebar div a{
    padding: 0.5rem;
    border-radius: 24px;
    background-color: white;
    color: black;
    font-weight: 600;
}

.sidebar-main .sidebar .others-not-logged-in{
    margin-top: 2rem;
    font-size: 0.7rem;
    color: #acabab;
}

.sidebar-main .sidebar .others-not-logged-in span{
    display: flex;
    margin: 1rem 0;

}

.sidebar-main .sidebar .others-not-logged-in span p{
    margin: 0 0.5rem;
}

.sidebar-main .sidebar .others-not-logged-in button{
    margin-top: 3rem;
    border: 1px solid #acabab;
    background: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}


.sidebar-main .main{
    background-color: #141414;
    border-radius: 8px;
    margin-left: .5rem;
    width: 70%;
    position: relative;
    overflow: hidden;
}

.sidebar-main .main .scrollable-content{
    width: calc(100% + 17px); /* Compensate for scrollbar width */
    height: 28rem;
    overflow-y: scroll; /* Allow content to scroll */
    padding-right: 17px; /* Prevent content jump when scrollbar is hidden */
    box-sizing: border-box;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollable-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.custom-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    border-radius: 4px;
}
  
.scroll-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    background: #888;
    cursor: grab;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.sidebar-main .main:hover .scroll-thumb{
    opacity: 1;
    transition: opacity .5s ease-in;
}






/* play button footer */

.play-area{
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 .5rem; */
}

.play-area .song{
    display: flex;
    align-items: center;
    width: 35%;
}

.play-area .song img{
    border-radius: 4px;
    width: 3.5rem;
    height: 3.5rem;
}

.play-area .song div{
    margin-left: .5rem;
    padding: 1rem;
}

.play-area .song p{
    font-size: 0.5rem;
    color: #afafaf;
}

.play-area .play-control{
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.play-area .play-control div{
    display: flex;
    width: 100%;
}

.play-area .play-control .player-controls{
    justify-content: space-around;
    width: 35%;
    margin: 0 auto;
}


.play-area .play-control .player-controls .control-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
    width: 15%;
    cursor: pointer;
    margin: 0;
}

.play-area .play-control .player-controls #play-pause{
    font-size: 2.5rem;
    width: 20%;
}


.play-area .play-control .seek {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
}

.play-area .play-control .seek  .progress-bar {
    width: 30rem;
    background: #404040;
    border-radius: 2px;
    height: 5px;
    position: relative;
}

.play-area .play-control .seek   .progress {
    background: #1db954;
    width: 1%;
    height: 100%;
    border-radius: 2px;
}

.play-area .play-control .seek span{
    padding: 0 1rem;
}

/* .play-area .play-control .time-stamps {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
} */

.play-area .other-things{
    display: flex;
    margin-right: 16rem;
}

.play-area .other-things img{
    margin-right: 1rem;
}

.play-area .not-logged-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .8rem ;
    background-color: purple;
}

.play-area .not-logged-in .sign-up{
    padding: 1rem 2rem;
    border-radius: 24px;
    background-color: white;
}

.play-area .not-logged-in .sign-up a{
    color: black;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {

    html, body {
        height: 100%;
    }

    
    body {
        padding: 0;
        margin: 0;
        min-height: 100vh; /* Make sure body fills the viewport */
        display: flex;
        flex-direction: column;
    }

    header, 
    .play-area {
        width: 100%;
    }

    

    header {
        align-items: center;
        padding: 1rem;
    }

    header .menu{
        display: block;
        cursor: pointer;
    }


    header .home-and-search {
        position: static;
        transform: none;
        width: 50%;
        margin-left: 2rem;
    }

    header .home-and-search .search{
        width: 120%;
    }

    

    header .home-and-search .home {
        display: none; /* Hide the home button on small screens if needed */
    }

    header .logged-in, 
    header .login-signup {
        width: 100%;
        justify-content: flex-end;
        display: flex;
        font-size: 0.8rem;
    }

    header .logged-in .exp-not-inst{
        display: none;
    }

    header .logged-in .user .dropdown{
        width: 40%;
        
    }

    header .login-signup .signup{
        padding: 0.3rem 0rem;

    }
    
    header .login-signup .login{
        padding: .3rem .9rem;
        margin-left: 0.6rem;
    }

    /* Sidebar and main content stacking vertically */
    .sidebar-main {
        flex-direction: column;
        height: auto;
    }

    .sidebar-main .sidebar {
        width: 100%;
        margin-bottom: 1rem;
        display: none;
        position: absolute;
        z-index: 1;
    }

    .sidebar-main .sidebar .library-icon .cancel{
        display: block;
    }

    .sidebar-main .main {
        width: 100%;
        margin-left: 0;
        height: auto;
        width: 100%;
        margin: 0;
        flex: 1; /* Fill the remaining space */
    }

    .sidebar-main .main .scrollable-content {
        height: calc(100vh - 200px); /* Adjust height according to your header and footer */
        max-height: none;
    }

    /* Play area adjustments */
    .play-area {
        padding: 1rem 0;
        margin-top: auto; /* Stick it to the bottom */
    }

    
    .play-area .play-control {
        width: 100%;
        margin-bottom: 1rem;
        position: static;
        transform: translate(0,0);
        
    }

    .play-area .song {
        justify-content: center;

    }

    .play-area .song h3{
        font-size: 0.85rem;
    }

    .play-area .song p{
        font-size: 0.65rem;
        color: #afafaf;
    }

    .play-area .song div {
        padding: 0 0.5rem;
        text-align: center;
    }

    .play-area .play-control .player-controls{
        width: 55%;
    }
    


    
    .play-area .play-control .seek{
        width: 100%;
        margin: 0 auto;
    }

    .play-area .play-control .seek .progress-bar {
        width: 100%;
    }

    .play-area .other-things {
        display: none;
    }
}

/* Medium devices (tablets, 768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    header .home-and-search .search input {
        width: 100%;
    }

    .sidebar-main .sidebar {
        width: 35%;
    }

    .sidebar-main .main {
        width: 65%;
    }

    .play-area .song {
        width: 40%;
    }

    .play-area .other-things {
        display: none;
    }

    header .logged-in .exp-not-inst{
        display: none;
    }
}
