.popular-artist,
.popular-albums,
.featured-charts{
    padding: 1rem;
}

.popular-artist h1,
.popular-albums h1,
.featured-charts h1{
    font-size: 1.5rem;
}

.popular-artist .artist-content,
.popular-albums .popular-album-content,
.featured-charts .featured-charts-content{
    display: flex;
    margin: 1rem 0;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.popular-artist .artist-content::-webkit-scrollbar,
.popular-albums .popular-album-content::-webkit-scrollbar,
.featured-charts .featured-charts-content::-webkit-scrollbar{
    display: none;
}

.popular-artist .artist-card:hover,
.popular-albums .album-card:hover,
.featured-charts .featured-card:hover{
    background-color: #7c7c7c33;
}

.popular-artist .artist-card .first a:hover,
.popular-albums .album-card .first a:hover,
.popular-albums .album-card .second a:hover{
    text-decoration: underline;
}

.popular-artist .artist-card,
.popular-albums .album-card,
.featured-charts .featured-card{
    margin-right: 24px;
    padding: 0.5rem;
}

.popular-artist .artist-card:last-of-type,
.popular-albums .album-card:last-of-type,
.featured-charts .featured-card:last-of-type{
    margin-right: 0
}

.popular-artist .artist-card img{
    width: 10rem;
    height: 10.5rem;
    border-radius: 6rem;
}


.popular-albums .album-card img,
.featured-charts .featured-card img{
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
}

.first {
    margin: 0.5rem 0;
}

.second,
.second a{
    font-size: .9rem;
    color: #afafaf;
}

@media (max-width: 1024px) {
    .artist-card, .album-card, .featured-card {
        width: calc(33.33% - 1rem);
    }
}

@media (max-width: 768px) {
    .artist-card, .album-card, .featured-card {
        width: calc(50% - 1rem);
    }

    .popular-artist .artist-card,
    .popular-albums .album-card,
    .featured-charts .featured-card{
        margin-right: 0;
    }

    

    .popular-artist .artist-card img{
        width: 5rem;
        height: 5rem;
        border-radius: 3rem;
    }
    
    
    
    .popular-albums .album-card img,
    .featured-charts .featured-card img{
        width: 5rem;
        height: 5rem;
        border-radius: 8px;
    }
}

@media (max-width: 480px) {
    .artist-card, .album-card, .featured-card {
        width: 100%;
    }

    
}
