.type{
    display: flex;
    padding: 1rem;
    margin-bottom: .75rem;
}

.type button{
    padding: .4rem .8rem;
    border-radius: 1rem;
    margin-right: 1rem;
    background-color: #2e2e2e;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.type #btn-all{
    background-color: #ffffff;
    color: #2e2e2e;
}

.all{
    padding: 1rem;
}

.all .first{
    display: flex;
}

.all .first h1{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.all .first .top-result{
    width: 50%;
}

.all .first .songs{
    width: 50%;
}


.all .first .top-result .result-card{
    padding: 2rem;
    border-radius: 12px;
    background-color: #222222;
    height: 100%;
}


.all .first .top-result .result-card:hover,
.all .first .songs .container .song-container:hover,
.all .artist-result .artist-card:hover,
.all .album-result .album-card:hover,
.songs-alone table tbody tr:hover,
#artist-alone .artist-content .artist-card:hover,
.album-alone .album-card:hover{
    background-color: #7c7c7c33;
}

.all .first .top-result .result-card:active,
.all .first .songs .container .song-container:active,
.all .artist-result .artist-card:active,
.all .album-result .album-card:active,
.songs-alone table tbody tr:active,
#artist-alone .artist-content .artist-card:active,
.album-alone .album-card:active{
    background-color: #42424233;
}

.all .top-result img{
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
}

.all .top-result .result-card .type-of-result a{
    font-size: .9rem;
    color: #afafaf;
}

.all .top-result .albumtype{
    border-radius: 4px;
}



.first .top-result .result-card h3{
    font-size: 2rem;
    margin: .5rem 0;
}


.all .first .songs .container{
    margin-left: .5rem;
}

.all .first .songs .container .song-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: .6rem;
    align-items: center;
    justify-content: space-between;
}

.all .first .songs .container .song-container:hover,
.songs-alone table tbody tr:hover{
    cursor: pointer;
}

.all .first .songs .container .song-container a,
.songs-alone table tbody tr a{
    font-size: .9rem;
    color: #afafaf;
}


.all .first .song-container .song-detail{
    display: flex;
}

.all .first .song-container img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
}

.all .first .song-container .duration{
    text-align: right;
}

/* artists and album styles */


.all .artist-result .artist-content,
.all .album-result .album-container{
    display: flex;
    margin: 1rem 0;
    
    
}

.all .artist-result .artist-card,
.all .album-result .album-card{
    
    padding: 1rem 2rem;
}

.all .artist-result .artist-card .first,
.all .album-result .album-card .first{
    margin: 0.5rem 0;
}

.all .artist-result .artist-card .first a:hover,
.all .album-result .album-card .first a:hover,
.all .album-result .album-card .second a:hover,
.all .first .songs .container .song-container a:hover,
.songs-alone table tbody tr .useless a:hover,
#artist-alone .artist-content .artist-card .first a:hover,
.album-alone .album-card .first a:hover,
.album-alone .album-card .second a:hover,
.all .top-result .result-card .type-of-result a:hover{
    text-decoration: underline;
}

.all .artist-result .artist-card:last-of-type,
.all .album-result .album-card:last-of-type{
    margin-right: 0
}

.all .artist-result .artist-card img{
    width: 10rem;
    height: 10.5rem;
    border-radius: 6rem;
}

.all .album-result,
.all .artist-result{
    margin-top: 3.5rem;
}

.all .album-result .album-card img{
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
}



/* artist only */

.artist{
    padding: 0 1rem;
    display: none;
}

.artist .artist-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.artist .artist-content .artist-card{
    padding: 1rem;
    width: 100%;
}


.artist .artist-content .artist-card img{
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    box-shadow: 0 0px 8px black;
}

.artist .artist-content .artist-card .first{
    margin: .5rem 0;
}



/* songs-alone */

.songs-alone {
    padding: 0 1rem;
    margin-top: -1rem;
    display: none;
}

.songs-alone table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.songs-alone table th{
    border-bottom: 1px solid #404040;
    padding: .5rem;
    font-size: .8rem;
    color: #afafaf;
}


.songs-alone table td{
    padding: .5rem;
}

.songs-alone table tr:nth-of-type(2) td{
    padding-top: 1.5rem;
}

.songs-alone table .title{
    text-align: left;
}

.songs-alone table .song-detail{
    display: flex;
    text-align: left;
}

.songs-alone table img{
    width: 2.6rem;
    height: 2.6rem;
    margin-right: .5rem;
    border-radius: 3px;
}


/* album only */

.album-alone{
    padding: 0 1rem;
    display: none;
}

.album-alone .album-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.album-alone .album-card{
    padding: 1rem;
    width: 100%;
}

.album-alone .album-card img{
    width: 12rem;
    height: 12rem;
    border-radius: 8px;
    box-shadow: 0 0 8px black;
}

.album-alone .album-card .first{
    padding: .5rem 0;
}

.album-alone .album-card .second a,
#artist-alone .artist-content .artist-card .second,
.all .artist-result .artist-card .second,
.all .album-result .album-card .second a{
    font-size: .9rem;
    color: #afafaf;
}


@media (max-width: 768px){
    .first .top-result .result-card h3{
        font-size: 1.2rem;
    }

    .all .first .songs .container .song-container p{
        font-size: 0.85rem;
    }

    .all .first .songs .container .song-container .useless{
        font-size: 0.65rem;
    }

    .all .first .song-container img{
        width: 2.5rem;
        height: 2.5rem;
    }

    .all .artist-result .artist-content,
    .all .album-result .album-container{
        overflow-x: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .all .artist-result .artist-content::-webkit-scrollbar,
    .all .album-result .album-container::-webkit-scrollbar{
        display: none;
    }

    .artist-card, .album-card, .featured-card {
        width: calc(50% - 1rem);
    }

    .all .artist-result .artist-card,
    .all .album-result .album-card{
        margin-right: 0;
    }

    

    .all .artist-result .artist-card img{
        width: 5rem;
        height: 5rem;
        border-radius: 3rem;
    }
    
    
    
    .all .album-result .album-card img{
        width: 5rem;
        height: 5rem;
        border-radius: 8px;
    }

    .artist,
    .album-alone{
        padding: 0 0rem;
    }

    .artist .artist-content,
    .album-alone .album-container{
        grid-template-columns: auto auto auto;
    }

    .artist .artist-content .artist-card img{
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
    }

    .album-alone .album-card img{
        width: 6rem;
        height: 6rem;
    }

}
