{% load static %}
{% load custom_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'favicon.ico' %}"> 
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% block styles %}{% endblock styles %}
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url "index" %}">
                <img src="{% static "Spotify_Primary_Logo_RGB_White.png" %}" alt="spotify logo" >
            </a>
        </div>
        <div class="home-and-search">
            <div>
                <div class="home">
                    <a href="{% url "index" %}">
                        <img src="{% static "home icon.png" %}" alt="home icon" width="25" height="25">
                        <!-- <svg data-encore-id="icon" role="img" viewBox="0 0 24 24">
                            <path d="M13.5 1.515a3 3 0 0 0-3 0L3 5.845a2 2 0 0 0-1 1.732V21a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6h4v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V7.577a2 2 0 0 0-1-1.732l-7.5-4.33z">
                            </path>
                        </svg> -->
                    </a>
                </div>
            </div>
            <div class="search">
                <form action="{% url "search" %}" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="What do you want to play?" name="query">
                </form>
                <h4><img src="{% static "browse icon.png" %}" alt="browse icon" width="30" height="30"></h4>
            </div>
        </div>

        {% if user.is_authenticated %}
        <div class="logged-in">
            <a href="#" class="explore"><strong>Explore Premuim</strong></a>
            <a href="#" class="app">Install App</a>
            <a href="#" class="not">notification</a>
            <div class="user">
                <p>
                    <Strong>{{request.user.name|slice:":1"|upper}}</Strong>
                </p>
                <ul class="dropdown">
                    <li>Accounts</li>
                    <li>Profile</li>
                    <li>Upgrade to Premium</li>
                    <li>Setting</li>
                    <hr>
                    <li><a href="{% url "logout" %}">Log out</a></li>
                </ul>
            </div>
        </div>

        {% else %}

        <div class="login-signup">
            <a href="{% url "sign_up" %}" class="signup"><strong>Sign up</strong></a>
            <a href="{% url "login" %}" class="login"><strong>Log in</strong></a>
        </div>
        {% endif %}
    </header>


    <section class="sidebar-main">
        
        <section class="sidebar">
            <div class="your-library">
                <div class="library-icon">
                    <img src="{% static "library icon.png" %}" alt="library icon" width="30" height="30">
                    <h4>Your Library</h4>
                </div>

            {% if user.is_authenticated %}
                <h5 class="tag">Artists</h5>

                <div class="space">
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    
                    <div>
                        <h5>Recents</h5>
                        <img src="{% static "recent icon.png" %}" alt="recent icon" width="30" height="30">
                    </div>
                </div>
                
                <div class="second-scroll">
                        {% if user.follow.all %}

                    <div class="artists scrollable-content2" id="sidebarartist">
                        {% for artist in user.follow.all  %}
                        <div class="artist-card">
                            <a href="{% url "artist_profile" artist.id %}">
                                <img src="{{artist.image_url}}" alt="{{artist.name}}" >
                                
                                <div class="artist-name">
                                    <h3>{{artist.name}}</h3>
                                    <p>Artist</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="custom-scrollbar2">
                        <div class="scroll-thumb2"></div>
                    </div>

                    {% else %}
                    <div class="no-artist">
                        <p>You do not have any followed artist</p>
                    </div>

                    {% endif %}
                </div>
                

            {% else %}
                <div class="not-loggedin-sidebar">
                    <div>
                        <h4>Create your first playlist</h4>
                        <p>It's easy and we will help you</p>
                        <a >Create playlist</a>
                    </div>

                    <div>
                        <h4>Let's find some podcast to follow</h4>
                        <p>We'll keep you updated on new episodes</p>
                        <a >Browse podcasts</a>
                    </div>
                </div>

                <div class="others-not-logged-in">
                    <span>
                        <p>Legal</p>
                        <p>Safety and privacy center</p>
                        <p>Privacy Policy</p>
                        <p>Cookies</p>
                    </span>

                    <span>
                        <p>About Ads</p>
                        <p>Accessibility</p>
                    </span>

                    <button><strong>English</strong></button>
                </div>

                {% endif %}
            </div>
        </section>
    
        <section class="main">

            <div class="scrollable-content">
                {% block contents %}{% endblock contents %}
            </div>

            <div class="custom-scrollbar">
                <div class="scroll-thumb"></div>
              </div>
            
        </section>
    </section>

    <section class="play-area">

        {% if user.is_authenticated %}
        <div class="song" >
            <img id="playsong-image" src="{{song.cover_image}}" alt="{{song.name}}" >
            <div>
                <h3 id="playsongname">{{song.name}}</h3>
                <p id="playsongartist">
                    {% for artist in song.artists %}
                    <a href="{% url "artist_profile" artist.id %}">{{artist.artist_name}}</a>
                    {% endfor %}
                </p>
            </div>
        </div>

        
        <div class="play-control">
            <div class="player-controls">
                <button class="control-btn"><i class="fa fa-random" aria-hidden="true"></i></button>
                <button id="prev" class="control-btn"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                <button id="play-pause" class="control-btn play-btn"><i class="fa fa-play-circle" aria-hidden="true"></i></button>
                <button id="next" class="control-btn"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                <button class="control-btn"><img src="{% static "repeat icon.png" %}" alt="repeat icon" width="21" height="21"></button>
            </div>
            
            <div class="seek">
                <span id="current-time">0:00</span>
                
    
                <div class="progress-bar" id="progress-bar">
                    <div class="progress" id="progress"></div>
                </div>
        
                
                <span id="total-duration">{{song.duration|miliseconds_to_minutes}}</span>
                
            </div>
        
    
            <audio id="audio-player" src="{{song.audio_url}}"></audio>
        </div>

        <div class="other-things">
            <img src="{% static "now playing icon.png" %}" alt="now playing icon" width="20" height="20">
            <img src="{% static "lyrics icon.png" %}" alt="lyrics icon" width="20" height="20">
            <img src="{% static "queue icon.png" %}" alt="queue icon" width="20" height="20">
        </div>

        {% else %}
        <div class="not-logged-in">
            <div class="words">
                <p>Preview of Spotify</p>
                <h4>Sign up to get unlimited songs and podcast with occasional ads. No credit card needed</h4>
            </div>

            <div class="sign-up">
                <a href="{% url "sign_up" %}"><strong>Sign up free</strong></a>
            </div>
        </div>

        {% endif %}
    </section>
    
    {% block javascripts %}{% endblock javascripts %}
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/scroll.js" %}"></script>
    <script src="{% static "js/scroll2.js" %}"></script>
    
</body>
</html>